@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Questrial&display=swap');
@import url(https://fonts.googleapis.com/css?family=Instrument+Serif:regular,italic);
@import url(https://fonts.googleapis.com/css?family=Questrial:regular);
@import url('https://fonts.cdnfonts.com/css/google-sans');

@import "tailwindcss";

.ins {
    font-family: 'Product Sans';
}

@layer base {
    body {
        @apply bg-zinc-50 text-zinc-900 antialiased selection:bg-black selection:text-white;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@layer components {
    .glass-panel {
        @apply bg-white/80 backdrop-blur-xl border border-white/20 shadow-[0_8px_30px_rgb(0,0,0,0.04)];
    }
    
    .text-balance {
        text-wrap: balance;
    }
}

@custom-variant hover (&:hover);